***1- The codes for managing the project. The following link is the reference to the tutorials.*** <br>
https://dvc.org/doc/start
***

1- Initializee the dvc repository. <br>
2- commit what we did so far. <br>
3- download the data with dvc get wrapper. <br>
4- add data to dvc tracking. this line will create a file with same name as our data with .dvc format and also a .gitignore file. <br>
5- add the tracking data and git placeholder with git command. <br>
6- create the remote locally or online. add the remote as a dvc remote. <br>
7- push the data using dvc order and follow by a git commit to save the version control. <br>
8- change between different version of the model and data. <br>
9- just use these codes to add and commit new modified datasets. <br>

In [2]:
! dvc init

Initialized DVC repository.

You can now commit the changes to git.

+---------------------------------------------------------------------+
|                                                                     |
|        DVC has enabled anonymous aggregate usage analytics.         |
|     Read the analytics documentation (and how to opt-out) here:     |
|             <https://dvc.org/doc/user-guide/analytics>              |
|                                                                     |
+---------------------------------------------------------------------+

What's next?
------------
- Check out the documentation: <https://dvc.org/doc>
- Get help and share ideas: <https://dvc.org/chat>
- Star us on GitHub: <https://github.com/iterative/dvc>

In [4]:
! git status

On branch master
Your branch is up to date with 'origin/master'.

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
	new file:   .dvc/.gitignore
	new file:   .dvc/config
	new file:   .dvcignore

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	MLOPs.ipynb

In [5]:
! git commit -m "Initialize DVC"
# download the data and save it in a new folder
! dvc get https://github.com/iterative/dataset-registry \
          get-started/data.xml -o data/data.xml

[master d9730c7] Initialize DVC
 3 files changed, 6 insertions(+)
 create mode 100644 .dvc/.gitignore
 create mode 100644 .dvc/config
 create mode 100644 .dvcignore

In [6]:
! dvc add data/data.xml

⠋ Checking graph                                       core>
Adding...
!
Collecting files and computing hashes in data/data.xml |0.00 [00:00,     ?file/s

!
  0% Checking cache in '/home/ali/NPEMF/.dvc/cache/files/md5'| |0/? [00:00<?,

!
  0%|          |Adding data/data.xml to cache         0/1 [00:00<?,     ?file/s]

!
  0%|          |Checking out /home/ali/NPEMF/data/data0/1 [00:00<?,    ?files/s]
100% Adding...|████████████████████████████████████████|1/1 [00:00, 13.18file/s]

To track the changes with git, run:

	git add data/.gitignore data/data.xml.dvc

To enable auto staging, run:

	dvc config core.autostage true

In [7]:
! git add data/data.xml.dvc data/.gitignore
! git commit -m "Add raw data"

[master 3560319] Add raw data
 2 files changed, 6 insertions(+)
 create mode 100644 data/.gitignore
 create mode 100644 data/data.xml.dvc

In [8]:
# local storage
! mkdir /tmp/dvcstore
! dvc remote add -d myremote /tmp/dvcstore

# remote storage
# ! dvc remote add -d storage s3://mybucket/dvcstore

Setting 'myremote' as a default remote.

In [10]:
! dvc push
# ! dvc pull
! git commit data/data.xml.dvc -m "Dataset updates"
! git push

Collecting                                            |1.00 [00:00,  179entry/s]
Pushing
!
  0% Checking cache in '/tmp/dvcstore/files/md5'|    |0/? [00:00<?,    ?files/s]
Pushing
Everything is up to date.
On branch master
Your branch is ahead of 'origin/master' by 2 commits.
  (use "git push" to publish your local commits)

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   .dvc/config

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	MLOPs.ipynb

no changes added to commit (use "git add" and/or "git commit -a")
Enter passphrase for key '/home/ali/.ssh/id_ed25519':

In [ ]:
# change to an specific version
! git checkout 72de82ee151cae08636f90435be6709a8632ac96 # HEAD~1 data/data.xml.dvc # this line will checkout one of the git commits.
! dvc checkout # and then dvc checkout makes sure that the data is correctly checked out.

# After checking the data, to checkout to the last version of the data. use the following codes.
! git checkout main  # or whatever branch you were on
! dvc checkout  # to restore the latest version of the data

In [ ]:
# Use the following after data modification.
! dvc add data.xml
! git add data.xml.dvc .gitignore
! git commit -m 'test the data change'
! dvc push
! git push

***2- Data Quality Assurance:***
***
**2-1- Handling Missing Data:**<br>
Imputation: Use mean, median, or forward filling based on historical data for numerical fields like SpotPriceDKK or SpotPurchase. <br>
Data Exclusion: If certain columns are irrelevant for specific models, they can be excluded from training.

In [29]:
# Importing the data from excel and showing the info about whole data
import pandas as pd

data_path= './data/NordPoolMarket.xlsx'
raw_data= pd.read_excel(data_path)
missing_values= raw_data.isnull()
missing_counts= missing_values.sum() 
row_with_missing_values= raw_data[raw_data.isnull().any(axis=1)]
print('A summary about dataset')
print(raw_data.info())
print('Missing values in the dataset')
print(missing_values)
print('The number of missing values in the dataset')
print(missing_counts)
print('Rows with the missing values')
print(row_with_missing_values)

A summary about dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99354 entries, 0 to 99353
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   HourUTC               99354 non-null  datetime64[ns]
 1   HourDK                99354 non-null  datetime64[ns]
 2   PriceArea             99354 non-null  object
 3   SpotPurchase          99354 non-null  float64
 4   SpotSale              99354 non-null  float64
 5   SpotPriceDKK          99354 non-null  float64
 6   ElbasAveragePriceDKK  88398 non-null  float64
 7   ElbasMaxPriceDKK      88398 non-null  float64
 8   ElbasMinPriceDKK      88398 non-null  float64
 9   SpotPriceEUR          99354 non-null  float64
 10  ElbasAveragePriceEUR  88398 non-null  float64
 11  ElbasMaxPriceEUR      88398 non-null  float64
 12  ElbasMinPriceEUR      88398 non-null  float64
dtypes: datetime64[ns](2), float64(10), object(1)
memory usage: 9.9+ MB
None
Missing values in the dataset
       HourUTC  HourDK  PriceArea  SpotPurchase  SpotSale  SpotPriceDKK  \
0        False   False      False         False     False         False
1        False   False      False         False     False         False
2        False   False      False         False     False         False
3        False   False      False         False     False         False
4        False   False      False         False     False         False
...        ...     ...        ...           ...       ...           ...
99349    False   False      False         False     False         False
99350    False   False      False         False     False         False
99351    False   False      False         False     False         False
99352    False   False      False         False     False         False
99353    False   False      False         False     False         False

       ElbasAveragePriceDKK  ElbasMaxPriceDKK  ElbasMinPriceDKK  SpotPriceEUR  \
0                      True              True              True         False
1                      True              True              True         False
2                     False             False             False         False
3                     False             False             False         False
4                     False             False             False         False
...                     ...               ...               ...           ...
99349                  True              True              True         False
99350                 False             False             False         False
99351                  True              True              True         False
99352                 False             False             False         False
99353                  True              True              True         False

       ElbasAveragePriceEUR  ElbasMaxPriceEUR  ElbasMinPriceEUR
0                      True              True              True
1                      True              True              True
2                     False             False             False
3                     False             False             False
4                     False             False             False
...                     ...               ...               ...
99349                  True              True              True
99350                 False             False             False
99351                  True              True              True
99352                 False             False             False
99353                  True              True              True

[99354 rows x 13 columns]
The number of missing values in the dataset
HourUTC                     0
HourDK                      0
PriceArea                   0
SpotPurchase                0
SpotSale                    0
SpotPriceDKK                0
ElbasAveragePriceDKK    10956
ElbasMaxPriceDKK        10956
ElbasMinPriceDKK        10956
SpotPriceEUR                0
ElbasAveragePriceEUR    10956
ElbasMaxPriceEUR        10956
ElbasMinPriceEUR        10956
dtype: int64
Rows with the missing values
                  HourUTC              HourDK PriceArea  SpotPurchase  \
0     2021-04-30 21:00:00 2021-04-30 23:00:00       DK1      0.000000
1     2021-04-30 21:00:00 2021-04-30 23:00:00       DK2    776.000000
25195 2019-11-22 23:00:00 2019-11-23 00:00:00       DK2   1002.400024
40842 2018-12-31 22:00:00 2018-12-31 23:00:00       DK1   1173.599976
40843 2018-12-31 22:00:00 2018-12-31 23:00:00       DK2    878.299988
...                   ...                 ...       ...           ...
99347 2015-08-31 01:00:00 2015-08-31 03:00:00       DK2    839.200012
99348 2015-08-31 00:00:00 2015-08-31 02:00:00       DK1   1313.800049
99349 2015-08-31 00:00:00 2015-08-31 02:00:00       DK2    843.000000
99351 2015-08-30 23:00:00 2015-08-31 01:00:00       DK2    869.900024
99353 2015-08-30 22:00:00 2015-08-31 00:00:00       DK2    922.500000

          SpotSale  SpotPriceDKK  ElbasAveragePriceDKK  ElbasMaxPriceDKK  \
0         0.000000    512.020020                   NaN               NaN
1         0.000000    512.020020                   NaN               NaN
25195   708.700012    256.760010                   NaN               NaN
40842  2982.899902    191.880005                   NaN               NaN
40843  1050.300049    191.880005                   NaN               NaN
...            ...           ...                   ...               ...
99347   109.500000    136.360001                   NaN               NaN
99348   198.899994    135.460007                   NaN               NaN
99349   111.099998    135.460007                   NaN               NaN
99351   102.199997    137.100006                   NaN               NaN
99353    96.900002    141.130005                   NaN               NaN

       ElbasMinPriceDKK  SpotPriceEUR  ElbasAveragePriceEUR  ElbasMaxPriceEUR  \
0                   NaN     68.860001                   NaN               NaN
1                   NaN     68.860001                   NaN               NaN
25195               NaN     34.360001                   NaN               NaN
40842               NaN     25.700001                   NaN               NaN
40843               NaN     25.700001                   NaN               NaN
...                 ...           ...                   ...               ...
99347               NaN     18.270000                   NaN               NaN
99348               NaN     18.150000                   NaN               NaN
99349               NaN     18.150000                   NaN               NaN
99351               NaN     18.370001                   NaN               NaN
99353               NaN     18.910000                   NaN               NaN

       ElbasMinPriceEUR
0                   NaN
1                   NaN
25195               NaN
40842               NaN
40843               NaN
...                 ...
99347               NaN
99348               NaN
99349               NaN
99351               NaN
99353               NaN

[10956 rows x 13 columns]

In [37]:
raw_data_1= raw_data.drop(columns='HourUTC') # removing UTC time to proceed just with DK time.
# Fill in the missing values using interpolation for elbas datas and mean for others.
raw_data_1['ElbasAveragePriceDKK']= raw_data_1['ElbasAveragePriceDKK'].interpolate(method='linear') 
raw_data_1['ElbasMaxPriceDKK']= raw_data_1['ElbasMaxPriceDKK'].interpolate(method='linear') 
raw_data_1['ElbasMinPriceDKK']= raw_data_1['ElbasMinPriceDKK'].interpolate(method='linear')
raw_data_1['ElbasAveragePriceEUR']= raw_data_1['ElbasAveragePriceEUR'].interpolate(method='linear') 
raw_data_1['ElbasMaxPriceEUR']= raw_data_1['ElbasMaxPriceEUR'].interpolate(method='linear') 
raw_data_1['ElbasMinPriceEUR']= raw_data_1['ElbasMinPriceEUR'].interpolate(method='linear')
raw_data_1.isnull().sum()
# We can see that there are still nul cells in the dataframe

In [40]:
raw_data_1.isnull().sum()
raw_data_1[raw_data_1.isnull().any(axis=1)]

,HourDK,PriceArea,SpotPurchase,SpotSale,SpotPriceDKK,ElbasAveragePriceDKK,ElbasMaxPriceDKK,ElbasMinPriceDKK,SpotPriceEUR,ElbasAveragePriceEUR,ElbasMaxPriceEUR,ElbasMinPriceEUR
0,2021-04-30 23:00:00,DK1,0.0,0.0,512.02002,NaN,NaN,NaN,68.860001,NaN,NaN,NaN
1,2021-04-30 23:00:00,DK2,776.0,0.0,512.02002,NaN,NaN,NaN,68.860001,NaN,NaN,NaN